<div class="page">
	<header>
		<h2 class="container page-title">
			{{ .Title }}
		</h2>
	</header>
	<div class="featured-image position-relative" style="background-image: url('{{ .Params.featured_image }}')">
		<div class="overlay"></div>
		<div class="page-header">
			{{ .Content }}
		</div>
	</div>

	<div class="container">

		<!-- About -->
	 	{{range where .Data.Pages "Section" "about" }}
	        <article class="about about--{{ .Params.class }}">
	            <h2 class="section__title">{{ .Title }}</h2>
	            <section class="section__content">
	                {{ .Content }}
	            </section>
	        </article>
	    {{ end }}


		<!-- Contact -->
	 	{{ range where .Data.Pages "Section" "contact" }}
	        <article class="contact contact--{{ .Params.class }}">
	            <h2 class="section__title">{{ .Title }}</h2>
	            <section class="section__content">
	                {{ .Content }}
	            </section>
	        </article>
	    {{ end }}

		<!-- Blog -->
		{{ range where .Data.Pages "Section" "posts" }}
		<div class="all-posts">    
		  	<div class="p-4 m-4 mid-gray overflow-hidden">
		    	{{ if .Date }}
		      	<div class="f6 post-date">
		        	{{ .Date.Format "January 2, 2006" }}
		      	</div>
	    		{{ end }}
		    	<h1 class="f3 near-black post-heading">
		      		<a href="{{ .URL }}" class="link black dim">
		        	{{ .Title }}
		      		</a>
		    	</h1>
			    <div class="nested-links f5 lh-copy nested-copy-line-height post-content">
			      	{{ .Summary  }}
			    </div>
		  	</div>
		 </div>
		{{ end }}
	</div>
</div>