
{{ define "main" }}
  <picture>
    <source media="(min-width: 768px)" srcset="../../../img/header-landscape-2000.jpg 2000w,../../../img/header-landscape-1600.jpg 1600w,../../../img/header-landscape-1200.jpg 1200w">
    <source media="(max-width: 767px) 80vw"  srcset="../../../img/header-landscape-800.jpg 800w,../../../img/header-landscape-400.jpg 400w,../../../img/header-landscape-200.jpg 200w">
    <img src="../../../img/header-landscape-2000.jpg" alt="" class="img-fluid">
  </picture>
  <div class="container">
    <section id="main" class="single-blog-page">
      <h1 class="single-blog-title">{{ .Title }}</h1>
      <div>
            <article id="content">
               {{ .Content }}
            </article>
      </div>
    </section>
    <aside id="meta" class="text-center">
        <div>
        <!-- <section>
          <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
          <h5 id="wordcount"> {{ .WordCount }} Words </h5>
        </section> -->
        {{ with .Params.topics }}
        <ul id="topics">
          {{ range . }}
            <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul id="tags">
          {{ range . }}
            <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        </div>
        <div>
            {{ with .PrevInSection }}
              <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
            {{ with .NextInSection }}
              <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
        </div>
    </aside>
  </div>
{{ end }}